* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

body, html, .container {
  height: 100%;
}

.player {
  padding: 1.5rem;
  text-align: center;
}

.player__name {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.player__score {
  font-size: 2rem;
}

.gameboard {
  display: flex;
  justify-content: center;
}

.board__row {
  display: flex;
}

.board__tile {
  cursor: pointer;
  font-size: 3rem;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

